.post-comments-info {
  border: 1px solid var(--main-grey);
  padding: 10px 30px;
  border-radius: 6px;
}

.post-comments-info small {
  margin-right: 50px;
}

.post-comments-info a {
  font-weight: 700;
  text-decoration: underline;
}

.post-comments-header {
  padding: 0 30px;
}

.root-comment > li {
  border-top: 1px solid var(--accent-grey);
  border-left: 6px solid var(--accent-grey);
}
