.comment-item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--main-grey);
  border-left: 3px solid var(--main-grey);
  margin-top: 10px;
  padding: 5px;
}

.comment-votes {
  background-color: var(--main-grey);
}

.comment-head {
  background-color: var(--main-grey);
}

.comment-head small {
  margin-left: 20px;
}

.comment-text {
  margin-top: 20px;
}
