.avatar-img-ctr {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  background-color: var(--main-light);
}

.avatar-img-ctr img {
  max-width: 100%;
}

.default-avatar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}
