.post-ctr {
  display: flex;
  padding: 0 !important;
  overflow: hidden;
}

.post-main {
  flex: 1;
  padding: 30px;
}

.post-main h2 {
  display: flex;
}

.post-main a {
  text-decoration: none;
  color: var(--main-dark);
}

.post-aside {
  margin-right: 30px;
  background-color: var(--main-grey);
  padding: 30px;
}

.post-aside h4 {
  margin-bottom: 0;
  font-weight: 400;
}

.votes-num {
  font-size: 1.2rem;
  font-weight: 200;
}

.post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

.post-details p {
  font-size: 0.8rem;
}

.comment-icon {
  font-size: 1rem;
  margin-right: 5px;
}

.post-comments-btn {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--main-light);
  border: none;
  padding: 5px 10px;
  transition: all 200ms ease;
}

.post-comments-btn:hover {
  background-color: var(--main-grey);
}

.post-comments {
  height: 0px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.post-comments-open {
  height: auto;
}

.media-ctr {
  width: 75%;
  overflow: hidden;
}

.over-18-content {
  filter: blur(100px);
}

.nsfw-icon {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 30px;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: var(--reddit-theme);
}
