@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --main-dark: rgb(0, 0, 0);
  --main-light: rgb(255, 255, 255);
  --main-grey: rgba(0, 0, 0, 0.048);
  --main-background: rgb(213, 218, 221);
  --accent-grey: rgb(197, 197, 197);
  --reddit-theme: rgb(255, 69, 1);
  --accent-color: rgb(0, 121, 211);
  --accent-transparent: rgba(0, 121, 211, 0.4);

  --main-font: 'Raleway', sans-serif;
  --main-shadow: 0px 5px 10px rgb(207, 207, 207);
}

#root {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 80px 1fr;
}

header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

main {
  grid-column: 1/3;
  grid-row: 2/3;
}

aside {
  grid-column: 3/4;
  grid-row: 2/3;
}

html {
  font-family: var(--main-font);
}

body {
  min-height: 100vh;
  background-color: var(--main-background);
}

h2 {
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  color: var(--accent-color);
}

hr {
  border: 2px solid var(--main-grey);
}

.post-media {
  width: 75%;
  height: auto;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: var(--main-shadow);
  background-color: var(--accent-color);
  color: var(--main-light);
  transition: all 100ms ease;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0px);
}

.regular-box {
  background-color: var(--main-light);
  padding: 30px 40px;
  box-shadow: var(--main-shadow);
  border-radius: 6px;
  margin: 20px;
  border: 1px solid var(--accent-grey);
}

@media screen and (max-width: 1024px) {
  #root {
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 1fr;
  }

  main {
    grid-column: 1/-1;
    max-width: 100vw;
    grid-row: 3/4;
  }

  aside {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin-left: 20px;
  }

  .subreddits-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subreddits-ctr h2 {
    margin-top: 0;
  }

  .subreddits-ctr ul {
    display: flex;
    flex-wrap: wrap;
  }

  .avatar-img-ctr {
    display: none;
  }

  .subreddit-btn {
    padding: 0 5px;
  }

  .subreddit-btn h6 {
    margin: 0;
  }

  .post-media {
    width: 100%;
  }
}

@media screen and (max-width: 715px) {
  #root {
    grid-template-rows: 130px auto 1fr;
  }

  div.regular-box {
    padding: 10px;
  }

  header.header-ctr {
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }

  .search-form {
    margin-top: 10px;
  }

  .post-ctr {
    flex-direction: column-reverse;
  }

  div.post-aside {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  li.comment-item {
    padding: 5px;
  }

  div.post-comments-info small {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  div.comment-head {
    display: flex;
    flex-direction: column;
  }
}
